package partials

import "codeberg.org/dankstuff/danklyrics/cmd/internal/actions"

templ AdminLyricsRequest(lyrics actions.LyricsRequest) {
	<code>
		for _, part := range lyrics.Parts {
			{ part }
			<br/>
		}
	</code>
}
