.DS_Store
node_modules
.env
.env.*
!.env.example
danklyrics*
_*/
tmp/
Session.vim
.db/
cmd/website/static/admin/htmx/*.js
cmd/website/static/user/htmx/*.js
*_templ.go
*_templ.txt
docker-compose-prod.yml
docker-compose-beta.yml
