package partials

type LyricsRequest struct {
	Id         uint
	SongTitle  string
	ArtistName string
	AlbumTitle string
	Parts      []string
	Synced     map[string]string
}

templ AdminLyricsRequest(lyrics LyricsRequest) {
	<code>
		for _, part := range lyrics.Parts {
			{ part }
			<br/>
		}
	</code>
}
